p {
    font-family:'Times New Roman', Times, serif;
    color:rgb(93, 93, 219)
}

p#Long {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 110, 131)
}